<h2>Ejemplo validacion de formularios</h2>
<form [formGroup]="loginForm" (ngSubmit)="doLogin($event)">
    <input formControlName="email" type="email" placeholder="Email">
    <div *ngIf="loginForm.get('email').errors && loginForm.get('email').dirty">
      <p color="danger" ion-text *ngIf="loginForm.get('email').hasError('required')">Campo obligatorio</p>
    </div>
    <input formControlName="password" type="password" placeholder="Password">
    <div *ngIf="loginForm.get('password').errors && loginForm.get('password').dirty">
      <p color="danger" ion-text *ngIf="loginForm.get('password').hasError('required')">Campo obligatorio</p>
    </div>
  <button type="submit" [disabled]="loginForm.invalid">Log in</button>

</form>
