<style>
	.css-class, .negativo{
		background: red;
	}
	.prueba, .positivo{
		background: green;
	}
</style>
<h1>
  {{title}}
</h1>

<button (click)="mostrar()">Mostrar contenido oculto</button>

<div [class]="clase">Una clase marcada por el modelo</div>

<h2>Ejemplo de aplicacion de arrays</h2>
<!-- Ejemplo ngClass con array -->
<p [ngClass]="['negativo', 'off']">Pueden aplicarse varias clases</p>
<p [ngClass]="ngClass_array">Pueden aplicarse varias clases</p>
<h2>Ejemplo de aplicacion con objetos de javascript</h2>
<!-- Ejemplo ngClass con objetos de javascript -->
<p [ngClass]="{positivo: cantidad > 0, negativo: cantidad < 0, off: desactivado, on: !desactivado }">Línea</p>
<h2>Ejemplo de aplicacion de ngFor</h2>
<p *ngFor="let pregunta of preguntas">
{{pregunta}}
</p>
<h2>Ejemplo de aplicacion de ngFor con objetos</h2>
<p *ngFor="let objPregunta of preguntasObj">
{{objPregunta.pregunta}}:
<br>
<span class="si">Si {{objPregunta.si}}</span> /
<span class="no">No {{objPregunta.no}}</span>
</p>

<h2>Ejemplo de aplicacion de ngIf</h2>
<p *ngIf="ejemplo_ngif">Mostra mensaje con ngIf</p>