<h2>Registro</h2>
<form [formGroup]="registroForm" (ngSubmit)="registrar()">
  <div>
    <input formControlName="nombre" type="text" placeholder="Ingrese su nombre">
    <div *ngIf="registroForm.get('nombre').errors && registroForm.get('nombre').dirty">
      <p color="danger" ion-text *ngIf="registroForm.get('nombre').hasError('required')">Campo obligatorio</p>
      <p color="danger" ion-text *ngIf="registroForm.get('nombre').hasError('minlength')">Debe ingresar al menos 6 caracteres</p>
    </div>
  </div>
  <div>
    <input formControlName="apellido" type="text" placeholder="Ingrese su apellido">
    <div *ngIf="registroForm.get('apellido').errors && registroForm.get('email').dirty">
      <p color="danger" ion-text *ngIf="registroForm.get('apellido').hasError('required')">Campo obligatorio</p>
    </div>
  </div>
  <div>
  <input formControlName="email" type="email" placeholder="Ingrese su Email">
  <div *ngIf="registroForm.get('email').errors && registroForm.get('email').dirty">
    <p color="danger" ion-text *ngIf="registroForm.get('email').hasError('required')">Campo obligatorio</p>
  </div>
  </div>
  <div>
  <input formControlName="telefono" type="phone" placeholder="Ingrese su telefono">
  <div *ngIf="registroForm.get('telefono').errors && registroForm.get('telefono').dirty">
    <p color="danger" ion-text *ngIf="registroForm.get('telefono').hasError('required')">Campo obligatorio</p>
  </div>
  </div>
  <div>
  <input formControlName="direccion" type="text" placeholder="Ingrese su direccion">
  <div *ngIf="registroForm.get('direccion').errors && registroForm.get('direccion').dirty">
    <p color="danger" ion-text *ngIf="registroForm.get('direccion').hasError('required')">Campo obligatorio</p>
  </div>
  </div>
  <div>
    <input formControlName="password" type="password" placeholder="Password">
    <div *ngIf="registroForm.get('password').errors && registroForm.get('password').dirty">
      <p color="danger" ion-text *ngIf="registroForm.get('password').hasError('required')">Campo obligatorio</p>
    </div>
  </div>
  <div>
  <button type="submit" [disabled]="registroForm.invalid">Log in</button>
  </div>

</form>
